<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>hus</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>

<body>
  <noscript>
    <strong>We're sorry but hus doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <section class="section" id="app">
  </section>
  <!-- built files will be auto injected -->
</body>

</html>